@page "/acerca"

<PageTitle>AcercaDe</PageTitle>

<center>
    <h1>Datos del desarrollador</h1>
    <img src="\images\Mifoto.jpeg" />
<br>
    <p>Mi nombre es Brander Báez Melo, mi matrícula es la siguiente: 2023-1135.</p>
    <p>Esta página fue realizada por la simple razón de educarme a mi mismo sobre los diferentes componentes utilizados anteriorrmente.</p>
    <p>Asignatura: Programación web, impartida por el profesor Amadis Suárez.</p>
</center>
